body {
  background-color: #ffffff;
  color: #000000;
  font-family: "Segoe UI", sans-serif;
}

.cart-header {
  padding: 16px;
  background-color: #FFC400;
  color: #111;
}

.cart-items {
  padding: 16px;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 0;
  border-bottom: 1px dashed #333;
}

.cart-item img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  object-fit: cover;
}

.cart-info {
  flex: 1;
}

.cart-info h3 {
  font-size: 1rem;
}

.cart-info p {
  font-size: 0.9rem;
  color: #0a0a0a;
}

.quantity {
  display: flex;
  align-items: center;
  gap: 8px;
}

.quantity button {
  background-color: #E53935;
  color: #fff;
  border: none;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
}

.cart-footer {
  padding: 16px;
  background-color: #1c1c1c;
  position: sticky;
  bottom: 0;
}
.cart-footer h2{
  color:#fff
}
